body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

.about,
.gallery,
.contact {
  margin: 40px;
  padding: 20px;
  background-color: #f4f4f4;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header img {
  max-width: 100%;
  height: auto;
  opacity: 0; /* 初期不透明度を0に設定 */
  transition: opacity 1s ease-in-out; /* アニメーションの設定 */
}
